
<!-- FOOTER -->
    <footer>
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row row-eq-height">

                    <div class="col-footer logo">
                        <img src="img/logo-gmb.png" alt="GMB Hospitalares">
                    </div>
                    <div class="col-footer">
                        <div class="block">
                            <h5>Nova Iguaçu</h5>
                            <p>Rua Geni Saraiva, 2467, Cerâmica</p>
                            <p>Nova Iguaçu - RJ | Cep: 26.031-482</p>                            
                        </div>
                        <div class="block">
                            <h5>Fale Conosco</h5>
                            <p>
                                (21) 3269-3371 | (21) 99041-1689 <a href="https://api.whatsapp.com/send?phone=5521990411689&text=Oi%2C%20Tudo%20bem%3F" target="_blank"><i class="fab fa-whatsapp"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-footer">
                        <div class="block email">
                            <h5>E-mail</h5>
                            <p>atendimento@gmbhospitalares.com.br</p>
                        </div>

                        <div class="block block-mobile">
                            <h5>Registros e Certificações</h5>
                            <p>CREA-RJ (Mecânica e Civil)</p>
                            <p>CRF-RJ - Farmácia</p>
                            <p>ANVISA</p>
                        </div>

                        <div class="block newsletter">
                            <h5>Cadastre-se e receba nossa newsletter</h5>
                            <form class="newsletter-form text-center" data-form="newsletter" action="">
                                <div class="input-group justify-content-center justify-content-lg-start">
                                    <input type="email" class="form-control email text-center" name="email"
                                        placeholder="Inserir e-mail"
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Inserir e-mail'"
                                        aria-label="E-mail" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-theme" type="submit">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <div class="col-footer">
                       
                        <div class="block no-border block-desktop">
                            <h5>Registros e Certificações</h5>
                            <p>CREA-RJ (Mecânica e Civil)</p>
                            <p>CRF-RJ - Farmácia</p>
                            <p>ANVISA</p>
                        </div>

                        
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 copyright">
                        © Copyright 2019 | GMB Gases Medicinais do Brasil. All rights reserved
                    </div>
                    <div class="col-md-6 riosun">
                        <a href="http://www.agenciariosun.com" class="riosun-link" target="_blank">RioSun</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER -->


    <!-- MODAL FORM SUBMIT -->
    <div class="modal fade" id="modal">
        <div class="modal-dialog ">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header text-center">
                    <h4 class="modal-title"><img src="img/logo-gmb.png" alt="GMB"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

   