<!-- HEADER -->
<header class="fixed-top">
        <div class="header-top">
            <div class="row text-center">
                <div class="col-md-3 col-sm-6"><i class="fas fa-map-marker-alt"></i> R. Geni Saraiva, 2467,  Cerâmica, Nova Iguaçu - RJ</div>
                <div class="col-md-3 col-sm-6"><i class="far fa-clock"></i> De segunda a sexta, de 8h00 às 17h00</div>
                <div class="col-md-3 col-sm-6"><i class="fas fa-envelope"></i> atendimento@gmbhospitalares.com.br</div>
                <div class="col-md-3 col-sm-6"><i class="fas fa-phone-alt"></i> 21 3269-3371 / 21 999041-1689</div>
            </div>
        </div>
    </div>
    <div class="header-main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">&nbsp;</span>
            </button>
            
            <!-- Brand -->
            <div class="col-lg-2 col-10 text-lg-left text-right">
                <a class="navbar-brand" href="/">
                    <img src="img/logo-gmb.png" alt="GMB">
                </a>
            </div>

            <!-- Menu -->
            <div class="col-lg-10 p-0">                    
                <ul class="navbar-collapse collapse justify-content-center justify-content-lg-end text-lg-right text-center" id="navbarSupportedContent">
                    <li class="nav-item border-bottom">
                        <a class="nav-link anchor-link" href="#servicos">Serviços<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item border-bottom">
                        <a class="nav-link" href="/produtos.html">Produtos</a>
                    </li>
                    <li class="nav-item border-bottom">
                        <a class="nav-link anchor-link" href="#sobre-nos">Sobre nós</a>
                    </li>
                    <li class="nav-item border-bottom">
                        <a class="nav-link" href="/fale-conosco.html">Fale conosco</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog.html">Blog</a>
                    </li>
                    <li class="nav-item social-links">                        
                        <a href="https://api.whatsapp.com/send?phone=5521990411689&text=Oi%2C%20Tudo%20bem%3F" class="nav-link whatsapp" target="_blank">
                            <i class="fab fa-whatsapp"></i><span class="d-lg-none">Envie uma mensagem</span>
                        </a>
                    </li>
                    <li class="nav-item d-lg-none">                                                                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-times"></i>  
                        </button>                      
                    </li>
                </ul>                    
            </div>
        </nav>
    </div>   
</header>
<!-- HEADER -->