@import url('https://fonts.googleapis.com/css?family=Exo:400,700&display=swap');


html,body,
#app,
.site-body {
  height: 100%;
}


//Colors
$red-error:   #E53948;

$green-sucess:#5FE400;
$green-light: #50BF00;
$green-medium: #6CA642;
$green-dark:  #3B8C00;

$yellow-light:#FFEA00;
$yellow-dark: #FFD500;

$blue-light:  #939CFF;
$blue:        #525CCC;
$blue-dark:   #2E3473;

$violet:      #3F3356;

$gray-light:  #A4BFCC;
$gray:        #6E8089;
$gray-dark:   #3D474C;

$white:       #ffffff;
$black:       #1A051D;


// *

html, body {
  color: $gray;
  font-family: 'Helvetica', sans-serif;
}

body {
  margin-top: 6rem;

  @media only screen and (max-width: 65rem) {
    margin-top: 4rem;
  }
}

p {
  line-height: 2rem;
  letter-spacing: 0.05rem;
}

a:hover {
  text-decoration: none;
}

section {
  margin-bottom: -2px;  
}

.btn {
  text-transform: uppercase;
  transition: all .5s ease;  
  font-weight: 100;
  font-size: 1rem;
  padding: 1.125rem 4.5rem;
  margin-top: 1rem;  
  font-family: 'Exo', sans-serif;
  letter-spacing: 0.02rem;

  &.btn-green {
    border-color: $green_light;
    background-color: $green_light;
    color: $white;
    
    &:hover {
      background-color: $green_dark;
      color: $white;
    }
  }

  &.btn-outline-blue {
    border-color: $blue;
    color: $blue;
    
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}

[data-toggle="collapse"][aria-expanded="false"] {
  h5 {
    svg {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }


}

[data-toggle="collapse"][aria-expanded="true"] {
  h5 {
    svg {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

@media all and (max-width: 40rem) {
  .row {
    margin: 0;
  }

  .no-border-mb {
    border: none !important;
  }

}

.email {
  word-break: break-all;
}

//Title Section
.title-section {
  font-size: 4.5rem;
  color: $green_light;
  position: relative;
  font-weight: 600;
  text-shadow: 2px -1px 2px rgba(0,0,0,0.3);
  font-family: 'Exo', sans-serif;
  margin-bottom: 3rem;
  
  @media all and (max-width: 62rem) {
    font-size: 2.5rem;
  }

}

//Modal
.modal {  
  .modal-header {
    .modal-title {
      width: 100%;

      img {
        width: 8rem;
      }
    }
  }

  .modal-body {
    .error {
      color: $red-error;
    }
    .success {
      color: $green-sucess;
    } 
   
    .single-post {
      h2 {
        font-weight: bold;
        font-size: 1.5rem;      
        color:$blue-dark;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }

      img {
        max-width: 100%;
        margin-bottom: 1.5rem;
      }

      .content {}
  
    }
  }
}

//Balls
.col-balls {
  position: fixed;
  top: 8rem;  
  z-index: 999;  
  right:0;  

  .balls {
    position: relative;
    margin-top: 8rem;    
    right: -6rem;
    width: 2rem;
    cursor: pointer;

    @media all and (max-width: 90rem) {
      right: -8rem;
    }

    @media all and (max-width: 48rem) {
      right: -1.5rem;
    }

    .ball {
      width: 3rem;
      height: 3rem;
      background: #FFD500;
      border-radius: 50%;
      position: absolute;
      top:0;
      left:0;
      transition: .5s ease all;
      display:flex;
      align-items:center;
      justify-content: center;	
    
      svg {
        color: #fff;
        font-size:2rem;
      }
      
      &.ball-1 {
        z-index: 2;	
        svg {
          transform: rotate(45deg);
          transition: 0.5s ease all;		
        }
  
        &.active svg {
          transform: rotate(-90deg);
        }
      }
  
      &.ball-2.active {
        top: 3.5rem;
        left: 0rem;
      }
  
      &.ball-3.active {
        top: 7rem;
        left: 0rem;  
      }
  
      &.ball-4.active {
        top: 10.5rem;
        left: 0rem;  
      }
    }
  }
}

//Loader 
.loader {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: $blue-dark;
  margin: 5rem auto;
}


// Menu
header {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

  .header-top {
    padding: 0.5rem 0;
    background-color: $gray;
    color: #FFFFFF;
    font-size: 0.625rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.05rem;

    @media only screen and (max-width: 65rem) {
      display: none;
    }

    svg {
      color:$yellow-light;
      margin-right: 0.2rem;
    }
  }

  .header-main {
    .navbar {
      transition: all 0.5s ease;

      .navbar-toggler {
        color: #7F7F7F;
      }

      .navbar-collapse {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0;
      }

      .navbar-brand {
        margin: 0;

        img {
          max-height: 3rem;
          max-width: 100%;
        }
      }

      .nav-item {       
        list-style: none;
        border-color: #d9d9d9;

        @media only screen and (min-width: 62rem) {
          border: none !important;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }

        .nav-link {          
          text-transform: uppercase;
          color: $blue-dark;
          font-size: 0.8125rem;

          &:hover {
            color: $green_light !important;
            transition: all .5s ease;
          }
        }
      }

      .social-links {
        @media only screen and (max-width: 62rem) {
          margin: 0.5rem 0;
        }
        a {
          svg {
            font-size: 2rem;
            color:$green-dark;
          }

          span {
            color: $green-dark;
            padding: 0.5rem 0 0.5rem 0.5rem;
            vertical-align: super;
          }
        }
      }

      .navbar-toggler {
        border: 0;
      }
    }

  }

}

// Webdoor
.webdoor {
  &.webdoor-home {
    position: fixed;
    top: 0rem;
    width: 100%;
    height: 100vh;
    z-index: -1;

    .swiper-wrapper {      
      height: 100vh;      

      .swiper-slide {
        display: flex;
        align-items: center;                
        justify-content: center;
        padding: 10% 0 0;

        &.slide-1 {
          background: url("../img/webdoor_home_banner_1.jpg") no-repeat;
          background-size: cover;
          background-position: center;               
        }
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 2.5rem;
        height: 0.6rem;
        border-radius: 0;
        background-color: $gray;
        opacity: 1;

        &.swiper-pagination-bullet-active {
          background-color: $white;
        } 
      }
    }

    .col-txt {
      background-image: url("../img/icon-reciclagem.png");
      background-position: top right;
      background-repeat: no-repeat;
      padding-top: 4rem;
      background-size: 20%;
      font-family: 'Exo', sans-serif;

      h1 {
        color: $white;
        margin-bottom: 10px;        
        width: 100%;        
        font-weight: bold;
        font-size: 4.5rem;
        text-shadow: 2px -1px 2px rgba(0,0,0,0.3);
        text-transform: uppercase;

        @media all and (max-width: 77rem) {
          font-size: 3.5rem;
        }       

        @media all and (max-width: 44rem) {
          font-size: 2rem;
        }       
      }
    }

    .buttons {
      margin:0 auto 50px;
    }

  }

  &.webdoor-produtos {
    padding: 10% 0;
    background: url("../img/webdoor_produtos.png") no-repeat;
    background-position: center center;
  }

  &.webdoor-blog {
    padding: 10% 0;
    background: url("../img/webdoor_blog.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 5rem;

    .title-section {
      color: $white;
      margin-bottom: 2.5rem;

      &::before {
        content:'';
        position: absolute;
        height: 0.5rem;
        width: 100rem;
        left: -101rem;
        top: 50%;
        margin-top: -0.25rem;
        background-color: $white;
        border-radius: 0.25rem;
      }
    }

    h4 {
      color: $white;
      font-weight: bold;
      font-size: 1rem;
      letter-spacing: 0.05rem;
      line-height: 1.75;
      text-transform: uppercase;

    }
  }
}

// Subhome
.subhome {
  background: url("../img/bg_subhome.jpg") no-repeat;
  background-size: cover;
  margin-top: 100vh;

  .container {

    .content {      
      background-color: rgba(255,255,255,0.2);
      padding: 3rem 0.5rem 0;

      @media all and (min-width: 48rem) and (max-width: 61rem) {
        background-color: rgba(255, 255, 255, 0.6);
      }

      @media all and (max-width: 48rem) {
          text-align: center;
          padding: 2rem 0.5rem 0;
          background-color: rgba(255, 255, 255, 0.6);
      }

      img {
        max-width: 100%;
      }

      .text {
        background-color: rgba(255, 255, 255, 0.6);
        padding: 2rem 1rem;                
        height: 12rem;
        text-align: left;    
        width: 85%;

        @media all and (min-width: 62rem) {
          width: 85%;
          margin: -0.44rem auto 0.1rem;
        }
        
        @media all and (min-width: 48rem) and (max-width: 62rem) {          
          margin: 0;
          background-color: transparent;
          width: auto;
        }

        @media all and (max-width: 48rem) {
            text-align: center;
            background-color: transparent;
            height: auto;
            margin: 0 auto;
        }



        h4 {
          font-size: 0.875rem;
          color: $gray;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.05rem;                    
        }

        p {
          font-size: 0.875rem;
          letter-spacing: 0.05rem;
        }

        a {
          text-transform: uppercase;
          width: auto;
          padding: 1rem 3rem;
          min-height: unset;
          min-width: unset;
          color:$green_light;
          border-color:$green_light;

          &:hover {
            text-decoration: none;
            background-color: $white;
          }
        }
      }
    }
  }
}

//Serviços
.servicos {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: url("../img/bg-servicos.png") no-repeat;
  background-size: cover;
  background-position: center;

  .title-section {
    color: $yellow-dark;
  }

  p {
    color: $white;
    text-transform:uppercase;
  }

  h3 {
    font-size: 1.5rem;
    color: $yellow-light;
    width: 100%;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin: 2rem 0 1.5rem;
  }

  .accordion {

    .card {
      background-color: initial;
      border:initial;

      .card-header {
        padding: .75rem 0;
        background-color: initial;
        border: initial;

        a {
          color: $white;
          font-weight: 600;

          h5 {
            font-size: 1.5rem;
            letter-spacing: 0.05rem;

            svg {
              color: $yellow-light;
            }
          }
        }
        
      }

      .card-body {
        color: $white;

        ul {
          list-style: none;
          margin-bottom: 0;
          padding: 0;

          li {
            text-indent: -5px;
            margin-bottom: .5rem;
            text-transform:uppercase;

            &:before {
              content:"- ";
              text-indent: -5px;
              color: $yellow-light;
            }
          }
        }
      }
    }
  }
}

//Produtos
.produtos {
  padding: 3rem 0;
  background: url("../img/bg_produtos.png") no-repeat;
  background-size: cover;

  .title-section {
    color: $blue_dark;
    text-align: center;
  }

  p {
    color: $gray-dark;
    margin: 2rem 0;
    text-transform: uppercase;
  }

  h4 {
    font-size: 1rem;
    color:$blue_dark;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .categorias {
    .cat {
      display: inline-flex;
      margin-bottom: 1.5rem;

      .thumb {
        overflow: hidden;
        border: 10px solid rgba(255,255,255,0.2);
        transition: all ease .5s;
        position: relative;

        &:after {
          content: '+';
          position: absolute;
          transition: all ease .5s;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          font-size: 10rem;
          color:$white;
          line-height: 1.125;
          opacity: 0;
          padding: 0;
        }

        img {
          z-index: 0;
        }
      }

      &:hover {
        .thumb {
          z-index: 2;

          &:after {
            opacity:1;
            background-color: rgba(33,33,66,0.5);
            margin-top: 0;
          }
        }
      }
    }

    h3 {
      color:$blue_dark;
      font-size: 1.5rem;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      font-weight:bold;
    }
  }

  
}

// Sobre Nós
.sobre-nos {
  background: url("../img/bg_sobrenos.png") no-repeat;
  background-color: $white;
  background-position: top center;
  background-size: cover;
  padding: 5rem 0;
  font-size: 1.2rem;

  p {
    font-weight: 100;
    line-height: 1.8;
    color:  $gray-dark;

    strong {
      font-weight: 900;
    }
  }

  .title-section {
    background: url("../img/selo_vf.png") no-repeat;
    background-position: center left;
    padding: 3rem 0 3rem 11rem;
    margin-bottom: 3rem;
    color: $blue_dark;
  }

  .missao-visao-valor {

    .accordion {

      .card {
        background-color: initial;
        border:initial;
  
        .card-header {
          padding: .75rem 0;
          background-color: initial;
          border: initial;
  
          a {
            
            h5 {
              font-size: 1.5rem;
              letter-spacing: 0.05rem;
              font-weight: 900;
              color: $green_dark;
              text-transform: uppercase;
    
              svg {
                color: $yellow-dark;
              }
            }
          }
  
          [data-toggle="collapse"][aria-expanded="false"] {
            h5 {
              svg {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
              }
            }
  
  
          }
  
          [data-toggle="collapse"][aria-expanded="true"] {
            h5 {
              svg {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
              }
            }
          }
        }
  
        .card-body {
          color: $gray-dark;
          font-size: 1.25rem;
          padding-left: 0;
  
          ul {
            list-style: none;
            margin-bottom: 0;
            padding: 0;
  
            li {
              text-indent: -5px;
              margin-bottom: .5rem;
              font-weight: 600;
  
              &:before {
                content:"- ";
                text-indent: -5px;
                color: $yellow-light;
              }
            }
          }
        }
      }
    }
  }
}

//Newsletter
.newsletter {
  
  .newsletter-form {
    .btn {
      background-color: $green_light;
      font-size: 1.25rem;
      min-width: initial;
      min-height: initial;
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
      margin: 0;
      padding: 0.25rem 0.75rem;
      color: $yellow-light;
    }

    input.form-control.email {
      font-size: 1rem;
      padding: 1rem;      
    }
  }
}

//Clientes
.clientes {
  padding-top: 3rem;
  padding-bottom: 0;
  background: url("../img/bg_clientes.png") no-repeat;
  background-size: cover;
  background-position: center;

  .title {

    .title-section {
      color: #ffffff;
      background: rgba(30, 34, 76, 0.8);
      background-clip: padding-box;
      position: relative;
      text-align: left;
      padding: 1rem 5rem 1rem 0;
      transform: skew(-33deg);
      z-index: 1;
      border:0.8rem solid rgba(255, 255, 255, 0.15);
      border-left:none;
      width: fit-content;

      &:before {
        content: '';
        background: rgba(30, 34, 76, 0.8);
        background-clip: padding-box;
        border:0.8rem solid rgba(255, 255, 255, 0.15);
        border-right:none;
        top: -0.8rem;
        width: 100%;
        height: calc(100% + 1.6rem);
        left: -100%;
        position: absolute;
      }


      h2 {
        transform: skew(33deg);
        text-transform: uppercase;
        font-size: 1.5rem;
        margin: 0;
        padding-left: 2.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        @media only screen and (max-width: 55rem) {
          font-size: 2.5vw;
        }
      }
    }

    @media only screen and (max-width: 36rem) {
      padding:0;

      .col-md-12 {
        padding:0;

        .title-section {
          transform: skew(0);
          width: 100%;
          border-left: 0;
          border-right: 0;
          padding:1rem 0;

          h2 {
            width: 100%;
            transform: skew(0);
            padding: 0;
            text-align: center;
            font-size: 6vw;

            span {
              width: 100%;
              display: block;
            }
          }
        }
      }
    }

    
  }

  .slider {
    background-color: rgba(255,255,255,0.85);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    margin-top: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media only screen and (max-width: 45rem) {
      width: 90%;
    }

    .swiper-container {
      .swiper-wrapper {
        max-width: 80% !important;
        .swiper-slide {
          .img-client {
            width: 60%;
            margin:0 auto;
            text-align: center;

            img {
              max-width: 100%;
            }
          }
        }
      }

      .swiper-button-prev {
        background: url("../img/arrow-title-right.png") no-repeat;
        width: 27px;
        height: 44px;
        display: block;
        position: absolute;
        top: 66%;
        transform: translateY(-50%);
        left: 0;
        z-index: 10;
      }

      .swiper-button-next {
        background: url("../img/arrow-title-left.png") no-repeat;
        width: 27px;
        height: 44px;
        display: block;
        position: absolute;
        top: 66%;
        transform: translateY(-50%);
        right: 0;
        z-index: 10;
      }

    }
  }

}

//Fale Conosco
.fale-conosco {

  .fale-conosco--content {
    position: relative;
    background: url("../img/bg-faleconosco.jpg") no-repeat;
    background-position: center bottom;
    background-size: cover;

    @media all and (max-width: 62rem) {
      padding-left:0; 
      padding-right:0; 
    }
 
    .container-fluid {
      padding: 0;
    }

    .row--title {
      background-color: rgba(108, 166, 66, 0.6);
      padding: 3.125rem 0;

      .title-section {
        color: $white;
        margin-bottom: 2.5rem;

        &::before {
          content:'';
          position: absolute;
          height: 0.5rem;
          width: 100rem;
          left: -101rem;
          top: 50%;
          margin-top: -0.25rem;
          background-color: $white;
          border-radius: 0.25rem;
        }
      }

      h4 {
        color: $white;
        font-weight: 600;
        font-size: 1.25rem;
        margin-bottom: 2.5rem;

      }

      p {
        color: $white;
      }
    }

    .row--form {
      background-color: rgba(255, 255, 255, 0.6);
      padding: 3.125rem 0;
      min-height: 35.625rem;
      display: flex;
      align-items: center;

      .form-control {
        color: $gray-dark;
        border-color: #b2b2b2;

        &::-webkit-input-placeholder {
          color: $gray-dark;
        }
        
        &:-ms-input-placeholder {
          color: $gray-dark;
        }
        
        &::placeholder {
          color: $gray-dark;
        }

        &.contato {
          height: 10.2rem;
        }

        &.select-product {

        }
      }
      
      .form-check-label {
        position: relative;
        padding-left: 1.8rem;
        color: $gray-dark;
      }
      
      .form-check-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.2rem;
        width: 1.2rem;
        background-color: #eee;
        border: 1px solid $green_light;
        border-radius: 50%;
      }

      /* On mouse-over, add a grey background color */
      .form-check-label:hover input ~ .checkmark {
        background-color: #ccc;
      }

      /* When the checkbox is checked, add a blue background */
      .form-check-label input:checked ~ .checkmark {
        background-color: $green_light;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the checkmark when checked */
      .form-check-label input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      .form-check-label .checkmark:after {
        left: 0.32rem;
        top: 0.16rem;
        width:0.4375rem;
        height: 0.625rem;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

    }
  }

  .row--contacts {
    padding: 3.125rem 1rem;

    h4 {
      color: $green_light;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
}

//Mapa
.mapa {
  iframe {
    margin-bottom: -0.5rem;
    width:100%;
    border:0;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
	  -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
	  -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
  }
}

//Page Produtos
.body-page-produtos {
  background: url(../img/bg_page_produtos.jpg) center top no-repeat; 
  background-size: cover;

  // .header-main {
  //   .bg-light {
  //     background-color: transparent !important; 
  //   }
  //   .bg-white {
  //     background-color: $white !important; 
  //   }
  // }

  .title-section {
    color: $blue_dark;
    font-weight: 600;

    &::after {
      content:'';
      position: absolute;
      height: 0.5rem;
      width: 5rem;        
      left: 50%;
      margin-left: -2.5rem;
      bottom: -3rem;
      background-color: $gray-light;
      border-radius: 0.25rem;
    }
  }
  
  .menu-produtos {
    position: relative;
    background: $blue;
    padding: 1.25rem 0;
    margin-bottom: 1.5rem;

    .produtos-cat {
      max-width: 16rem;
    }
  }

  .page-produtos {

    .block-produtos {          
      margin-bottom: 3rem;       

      .block {
        position: relative;
        overflow:hidden;
        display: flex;
        width: 100%;
        margin-bottom: 2.5rem;    
        
        @media only screen and (max-width: 35rem) {
          .col-lg-11 {
            padding: 0;
          }
        }
        
        .block-content {
          width: 100%;
          padding: 2rem;
          background: $white;
          border-radius: 4px;
          box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
          margin: 2px; 

          @media only screen and (max-width: 35rem) {
            text-align: center;
            box-shadow: none;
            border-top: 1px solid rgba(0,0,0,.12);
            border-bottom: 1px solid rgba(0,0,0,.12);
            border-radius: 0

            
          }
          
          h2 {
            font-size: 1.25rem;
            color: $blue_dark;
            font-weight: bold;
            text-transform: uppercase;
            text-align: left;
          }
    
          h4 {
            font-size: 1rem;
            text-transform: uppercase;
            color:$gray;
            text-align: left;
          }
    
          .btn {
            min-width: 14rem;
            padding: 1.125rem 1rem;
            margin-right: 1rem;

            @media all and (max-width: 62rem) {
              font-size: 1rem;
            }

            @media only screen and (max-width: 48rem) {
              margin: 0.5rem auto;
            }

            svg {
              float: right;
              margin-top: 0.2rem;
            }
    
            &.btn-specificity {
              background-color: $green_light;
              height: 2.4rem;
    
              svg {
                font-size: 2rem;
                margin-top: -0.3rem;
                color: $yellow-light;
                transition: all .5s ease;
              }
    
              &.collapsed {
                svg {
                  transform: rotate(180deg);
                }
              }
    
            }
    
            &.btn-modal {
              background-color: $yellow-light;
            }
          }        
      
          .text {
            height:10rem;
            margin-top:1rem;
            padding-right: 1rem;
            overflow: scroll;
            overflow-x: hidden;
            text-align: left;

                        
            ::-webkit-scrollbar {
            width: 0px;
            }
            ::-webkit-scrollbar-thumb {
            background: #FF0000;
            }

            p {
              color: $gray-dark;
            }
            
          }
        }
        
        .block-content-2,	.block-content-3 {         
          display: none;
        }
      }
    }
  }

  .btn-close {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color: #FFD500;
    text-transform:uppercase;
    font-weight: 100;
    margin-top: 1rem;
    
    svg {
      width: 2rem;
      height: 2rem;
      padding: 0.25rem;
      background: #FFD500;
      border-radius: 50%;
      display:flex;
      align-items:center;
      justify-content: center;              
      color: #ffffff;
    }
  }

  .table {
    thead {
      background-color: $gray-light;
    }
    th {
    font-weight: 600;
    }

    .color-blue-dark {
      color: $blue;
    }
  }

}

//Blog
.page-blog {
  .blog {
    margin-bottom: 5rem;
    
    article {
      display: block;
      margin-bottom: 3rem;

      h2 {
        font-weight: bold;
        font-size: 1.5rem;      
        color:$blue-dark;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }

      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
      }
      
      .link {
        text-align: right;
        width: 100%;

        .leia-mais {                           
            color: $green-light;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: bold;
        }
      }
    }
  }
}
  
//Footer
footer {
  box-shadow: -1px -1px 4px 0px rgba(0,0,0,0.25);

  .footer-top {
    background-color: $white;
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 15px;

    @media all and (max-width: 768px) {
      padding-top: 20px;
    }

    .col-footer {
      width:25%;
      
      @media all and (max-width: 62rem) {
        width:100%;
        text-align: center;
      }

      .block {
        padding: 1rem 0.5rem;
        
        @media all and (max-width: 62rem) {
          border-bottom: 1px solid $gray-light;
        }
        
        &.block-desktop {
          display:none;
          @media all and (min-width: 62rem) {
            display:block;
          }
        }

        &.block-mobile {
          @media all and (min-width: 62rem) {
            display:none;
          }

          border:none; 
        }

        &.no-border {
          border-bottom:none !important;
        }

        p {
          font-weight: 100;
          font-size: 1rem;
          letter-spacing: 0.05rem;
          line-height: 1.25rem;
          margin-bottom:0.25rem; 

          &.strong {
            font-weight: 600;
            word-break: break-all;
          }

          a svg {
            font-size: 1.5rem;
            color:$green_dark;
          }
        }

        h5 {
          letter-spacing: 0.05em;
          font-size:1rem;
          color: $green-medium;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 0.75rem;
        }

        &.newsletter {
          @media all and (max-width: 62rem) {
            border: none;
          }

          input[type=email] {
            max-width:20rem;
          }

          .btn-theme {
            background-color: $green-medium;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 0.17rem 1.5rem;

            &:hover {
              background-color: $green-dark;
            }
          }
        }

      }

    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5rem 0;

      @media all and (max-width: 62rem) {
        padding: 3rem 0;
      }
    }

  }

  .footer-bottom {
    background-color: $gray_dark;
    padding: 20px 0 10px;
    color: $white;
    font-size: 12px;

    .copyright {
      text-align: left;

      @media all and (max-width: 768px) {
        text-align: center;
      }

    }

    .riosun {
      text-align: right;

      @media all and (max-width: 768px) {
        text-align: center;
        margin-top: 10px;
      }

    }

    .riosun-link {
      margin-top: -2px;
      font-size: 18px;
      overflow: hidden;
      background: url(../img/logo-riosun.png) center top no-repeat;
      background-size: contain;
      color:transparent;
    }
  }
}

